html { overflow-y: scroll; -webkit-font-smoothing: antialiased }
body { padding-top: 34px; background: #f6f6f6; font-size: 13px; }
html, body { height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
a { outline: none !important; color: #368CA9; }
a:hover { color: #368CA9 }
small { font-size: 11px }


/* beoro buttons  */
    .btn-beoro-1 { text-shadow: 0px -1px 0px #4a0503; color: #ffffff; background-color: #682321; background-image: -moz-linear-gradient(top, #86413f, #4a0503); background-image: -ms-linear-gradient(top, #86413f, #4a0503); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#86413f), to(#4a0503)); background-image: -webkit-linear-gradient(top, #86413f, #4a0503); background-image: -o-linear-gradient(top, #86413f, #4a0503); background-image: linear-gradient(top, #86413f, #4a0503); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#86413f', endColorstr='#4a0503', GradientType=0); border-color: #682321 #4a0503 #4a0503 #682321; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
    .btn-beoro-1:hover, .btn-beoro-1:active, .btn-beoro-1.active, .btn-beoro-1.disabled, .btn-beoro-1[disabled] { background-color: #4a0503 }
    .btn-beoro-1:hover { color: #ffebe9; text-shadow: 0px -1px 0px #2c0000; }
    .btn-beoro-1.active, .btn-beoro-1:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #cc8785; }
    .btn-beoro-2 { text-shadow: 0px -1px 0px #4e7562; color: #ffffff; background-color: #6C9380; background-image: -moz-linear-gradient(top, #8ab19e, #4e7562); background-image: -ms-linear-gradient(top, #8ab19e, #4e7562); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8ab19e), to(#4e7562)); background-image: -webkit-linear-gradient(top, #8ab19e, #4e7562); background: -o-linear-gradient(top, #8ab19e, #4e7562); background-image: linear-gradient(top, #8ab19e, #4e7562); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ab19e', endColorstr='#4e7562', GradientType=0); border-color: #6C9380 #4e7562 #4e7562 #6C9380; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
    .btn-beoro-2:hover, .btn-beoro-2:active, .btn-beoro-2.active, .btn-beoro-2.disabled, .btn-beoro-2[disabled] { background-color: #4e7562 }
    .btn-beoro-2:hover { color: #ffffff; text-shadow: 0px -1px 0px #305744; }
    .btn-beoro-2.active, .btn-beoro-2:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #d0f7e4; }
    .btn-beoro-3 { text-shadow: 0px -1px 0px #004573; color: #fff; background-color: #006391; background-image: -moz-linear-gradient(top, #1e81af, #004573); background-image: -ms-linear-gradient(top, #1e81af, #004573); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1e81af), to(#004573)); background-image: -webkit-linear-gradient(top, #1e81af, #004573); background: -o-linear-gradient(top, #1e81af, #004573); background-image: linear-gradient(top, #1e81af, #004573); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e81af', endColorstr='#004573', GradientType=0); border-color: #006391 #004573 #004573 #006391; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
    .btn-beoro-3:hover, .btn-beoro-3:active, .btn-beoro-3.active, .btn-beoro-3.disabled, .btn-beoro-3[disabled] { background-color: #004573 }
    .btn-beoro-3:hover { color: #fff; text-shadow: 0px -1px 0px #002755; }
    .btn-beoro-3.active, .btn-beoro-3:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #fff; }
    .btn-beoro-4 { text-shadow: 0px -1px 0px #521145; color: #ffffff; background-color: #702F63; background-image: -moz-linear-gradient(top, #8e4d81, #521145); background-image: -ms-linear-gradient(top, #8e4d81, #521145); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8e4d81), to(#521145)); background-image: -webkit-linear-gradient(top, #8e4d81, #521145); background: -o-linear-gradient(top, #8e4d81, #521145); background-image: linear-gradient(top, #8e4d81, #521145); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8e4d81', endColorstr='#521145', GradientType=0); border-color: #702F63 #521145 #521145 #702F63; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
    .btn-beoro-4:hover, .btn-beoro-4:active, .btn-beoro-4.active, .btn-beoro-4.disabled, .btn-beoro-4[disabled] { background-color: #521145 }
    .btn-beoro-4:hover { color: #fff7ff; text-shadow: 0px -1px 0px #340027; }
    .btn-beoro-4.active, .btn-beoro-4:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #d493c7; }
    .btn-beoro-5 { text-shadow: 0px -1px 0px #614229; color: #ffffff; background-color: #7F6047; background-image: -moz-linear-gradient(top, #9d7e65, #614229); background-image: -ms-linear-gradient(top, #9d7e65, #614229); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9d7e65), to(#614229)); background-image: -webkit-linear-gradient(top, #9d7e65, #614229); background: -o-linear-gradient(top, #9d7e65, #614229); background-image: linear-gradient(top, #9d7e65, #614229); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d7e65', endColorstr='#614229', GradientType=0); border-color: #7F6047 #614229 #614229 #7F6047; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
    .btn-beoro-5:hover, .btn-beoro-5:active, .btn-beoro-5.active, .btn-beoro-5.disabled, .btn-beoro-5[disabled] { background-color: #614229 }
    .btn-beoro-5:hover { color: #ffffff; text-shadow: 0px -1px 0px #43240b; }
    .btn-beoro-5.active, .btn-beoro-5:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #e3c4ab; }
    .btn-beoro-6 { text-shadow: 0px -1px 0px #858d91; color: #ffffff; background-color: #A3ABAF; background-image: -moz-linear-gradient(top, #c1c9cd, #858d91); background-image: -ms-linear-gradient(top, #c1c9cd, #858d91); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c1c9cd), to(#858d91)); background-image: -webkit-linear-gradient(top, #c1c9cd, #858d91); background: -o-linear-gradient(top, #c1c9cd, #858d91); background-image: linear-gradient(top, #c1c9cd, #858d91); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1c9cd', endColorstr='#858d91', GradientType=0); border-color: #A3ABAF #858d91 #858d91 #A3ABAF; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
    .btn-beoro-6:hover, .btn-beoro-6:active, .btn-beoro-6.active, .btn-beoro-6.disabled, .btn-beoro-6[disabled] { background-color: #858d91 }
    .btn-beoro-6:hover { color: #ffffff; text-shadow: 0px -1px 0px #676f73; }
    .btn-beoro-6.active, .btn-beoro-6:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #ffffff; }
    
/* bootstrap framework adjustments  */
    form { margin-bottom: 0 }
    input, select, textarea, button { outline: none !important }
    textarea { resize: none }
    .row-fluid + .row-fluid { margin-top: 20px }
    .label { font-size: 11px; font-weight: normal; padding: 2px 4px; }
    .badge { font-size: 11px; padding: 1px 6px; }
    .label-success, .badge-success { background: #5DA423 }
    .label-important, .badge-important { background: #C60F13 }
    .table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th { background: #f6f6f6; -webkit-box-shadow: inset 0 1px 0 #fff; box-shadow: inset 0 1px 0 #fff; }
    .table-striped tbody tr:first-child td, .table-striped tbody tr:first-child th { -webkit-box-shadow: none; box-shadow: none; }
    .f-error { background: #fcf5f5 }
    .f-error input, .f-error select, .f-error textarea { border-color: #B94A48; color: #a60d10; }
    .f-error label.error { font-size: 12px; font-weight: 700; color: #a60d10; }
    textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
    textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { border-color: #5ca9e4; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0 2px rgba(70, 161, 231, 0.3); }
    .input-prepend div[class*="input-"], .input-append div[class*="input-"], .input-prepend div[class*="span"], .input-append div[class*="span"] { width: auto; min-width: 140px; }
    .control-group.error .checkbox:focus, .control-group.error .radio:focus, .control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus, .f-error .checkbox:focus, .f-error .radio:focus, .f-error input:focus, .f-error select:focus, .f-error textarea:focus { border-color: #B94A48; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0 2px rgba(185, 74, 72, 0.3); }
    .control-group.success .checkbox:focus, .control-group.success .radio:focus, .control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus { border-color: #468847; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0 2px rgba(70, 136, 71, 0.3); }
    .control-group.warning .checkbox:focus, .control-group.warning .radio:focus, .control-group.warning input:focus, .control-group.warning select:focus, .control-group.warning textarea:focus { border-color: #C09853; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0 2px rgba(792, 152, 83, 0.3); }
    .form-horizontal .control-group { margin: 0 }
    .form-horizontal .control-group + .control-group { margin-top: 20px }
    .help-block, .help-inline { margin-top: -8px; font-size: 11px; }
    .form-horizontal input + .help-block, .form-horizontal select + .help-block, .form-horizontal textarea + .help-block { margin-top: 4px }
    .radio, .checkbox { font-size: 12px }
    .btn + .help-block { margin-top: 0 }
    .dropdown-menu { -webkit-border-radius: 0 0 0 0; -moz-border-radius: 0 0 0 0; -ms-border-radius: 0 0 0 0; border-radius: 0 0 0 0; }
    .dropdown-menu a { padding: 2px 15px; margin: 0 5px; -webkit-border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -ms-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px; }
    .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a { background: #35a3c9 }
    .dropdown-menu .divider { margin: 9px 1px 7px }
    .add-on i { margin-top: 2px }
    .modal-header h3 { font-size: 16px; line-height: 22px; }
    .formSep.control-group { margin: 0 }
    .btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] { margin-top: 0 }
    .radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline { margin: 0 }
    .radio.inline, .checkbox.inline { margin-right: 10px }
    .radio.inline:last-child, .checkbox.inline:last-child { margin-right: 0 }
    .help-last { margin-bottom: 0 }
    .nav-list > .active > a, .nav-list > .active > a:hover { background: #368CA9 }
    .nav-list a { border-radius: 4px }
    
/* bordered tabbable  */
    .tabbable-bordered { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
    .tabbable-bordered > .nav-tabs { margin: 0; border: none; }
    .tabbable-bordered > .tab-content { min-height: 150px; border-style: solid; border-color: #ddd; padding: 10px; border-width: 1px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
    .tabs-below.tabbable-bordered > .tab-content { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
    .tabs-left.tabbable-bordered > .tab-content { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
    .tabs-right.tabbable-bordered > .tab-content { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
    .tabbable-bordered .nav-tabs > li { margin-right: 2px; border-top: 2px solid transparent; }
    .tabbable-bordered .nav-tabs > li > a { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; margin-right: 0; padding: 6px 10px; }
    .tabbable-bordered .nav-tabs > li > a:hover { background: none; border-color: transparent; }
    .tabbable-bordered .nav-tabs > li.active { border-top: 3px solid #368CA9; margin-top: 0; position: relative; }
    .tabbable-bordered .nav-tabs > li.active > a { border-top: none; font-weight: 700; }
    .tabbable-bordered .nav-tabs > li.active > a:hover { background: #fff; border-color: #ddd #ddd transparent; }
    .tabs-below.tabbable-bordered .nav-tabs > li { border-top: none; border-bottom: 2px solid transparent; margin-top: -1px; }
    .tabs-below.tabbable-bordered .nav-tabs > li.active { border-top: none; border-bottom: 3px solid #368CA9; margin-bottom: 0; position: relative; }
    .tabs-below.tabbable-bordered .nav-tabs > li.active > a { border-bottom: none }
    .tabs-below.tabbable-bordered .nav-tabs > li.active > a:hover { background: #fff; border-color: #ddd #ddd transparent; }
    .tabs-left.tabbable-bordered .nav-tabs > li { margin-right: 0; border-left: 2px solid transparent; border-top: none; }
    .tabs-left.tabbable-bordered .nav-tabs > li.active { border-top: none; border-left: 3px solid #368CA9; margin-top: 0; margin-right: -1px; position: relative; }
    .tabs-left.tabbable-bordered .nav-tabs > li.active > a { border-top: 1px solid #ddd; border-left: 1px solid transparent; }
    .tabs-left.tabbable-bordered .nav-tabs > li.active > a:hover { background: #fff; border-color: #ddd transparent #ddd; }
    .tabs-right.tabbable-bordered .nav-tabs > li { margin-right: 0; border-right: 2px solid transparent; border-top: none; }
    .tabs-right.tabbable-bordered .nav-tabs > li.active { border-top: none; border-right: 3px solid #368CA9; margin-top: 0; margin-left: -1px; position: relative; }
    .tabs-right.tabbable-bordered .nav-tabs > li.active > a { border-top: 1px solid #ddd; border-right: 1px solid transparent; }
    .tabs-right.tabbable-bordered .nav-tabs > li.active > a:hover { background: #fff; border-color: #ddd transparent #ddd; }
    .tabs-right.tabbable-bordered .nav-tabs > li a, .tabs-left.tabbable-bordered .nav-tabs > li a { padding: 8px 10px }
    
/* accordion  */
    .accordion { border-bottom: 1px solid #e9e9e9 }
    .accordion .accordion-group { margin: 0; border: none; border-radius: 0; }
    .accordion .accordion-inner { border: none }
    .accordion .accordion-heading a { background: #f7f7f7; color: #333; border-width: 1px 0 0; border-style: solid; border-color: #e9e9e9; overflow: hidden; }
    .accordion .accordion-heading a:hover { text-decoration: none }
    .accordion .accordion-heading a i { float: right; margin-top: 3px; margin-left: 10px; opacity: .3; }
    .accordion .accordion-heading .label { vertical-align: 1px }
    .accordion a.acc-in { background: none; border-top: 3px solid #368CA9; font-weight: 700; }
    .accordion a.acc-in i { margin-top: 2px }
    
/* top bar  */
    .navbar-inner { min-height: 34px; border-top: 1px solid #353939; border-bottom: 1px solid #2e3131; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #464b4c), color-stop(100%, #3f4344)); background: -webkit-linear-gradient(top, #464b4c, #3f4344); background: -moz-linear-gradient(top, #464b4c, #3f4344); background: -ms-linear-gradient(top, #464b4c, #3f4344); background: -o-linear-gradient(top, #464b4c, #3f4344); background: linear-gradient(top, #464b4c, #3f4344); -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06); box-shadow: inset 0 1px rgba(255, 255, 255, 0.06); background-color: #464b4c; }
    .selectnav { display: none }
    .navbar .top-search form { margin: 0 10px 0 0; padding-top: 5px; position: relative; }
    .navbar .top-search input, .navbar .top-search button { -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; }
    .navbar .top-search input { padding: 2px 24px 2px 10px; border: none; margin: 0; width: 150px; background: #999; -webkit-border-radius: 20px; moz-border-radius: 20px; -ms-border-radius: 20px; border-radius: 20px; }
    .navbar .top-search input:focus { background: #f5f5f5; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none; }
    .navbar .top-search button { opacity: .6; position: absolute; right: 7px; top: 9px; padding: 0; margin: 0; line-height: 12px; background: none; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none; }
    .navbar .top-search input:focus + button { opacity: 1 }
    #fade-menu { font-size: 11px; font-weight: normal; }
    #fade-menu ul { list-style-type: none; margin: 0; padding: 0; }
    #fade-menu > ul { border-left: 1px solid #353939; border-left: 1px solid rgba(0, 0, 0, 0.2); border-right: 1px solid #4d5354; border-right: 1px solid rgba(255, 255, 255, 0.06); }
    #fade-menu ul li { position: relative; display: inline; float: left; }
    #fade-menu ul li a { color: #eee; display: block; text-decoration: none; padding: 0 10px; line-height: 34px; border-left: 1px solid #4d5354; border-left: 1px solid rgba(255, 255, 255, 0.06); border-right: 1px solid #353939; border-right: 1px solid rgba(0, 0, 0, 0.2); }
    #fade-menu ul li ul { position: absolute; left: 0; display: block; visibility: hidden; border-left: none; }
    #fade-menu ul li ul li { width: 160px; display: block; float: none; border-right: none; }
    #fade-menu ul li ul li a { margin: 0; border-width: 0 1px 1px 0; border-style: solid; border-color: #363a3a; background: #000; background: rgba(0,0,0,.88); line-height: 26px; }
    #fade-menu ul li ul li:last-child > a { border-bottom: none }
    #fade-menu ul li ul li:first-child > a { border-top: 1px solid #363a3a }
    #fade-menu ul li ul li ul { top: 0; margin-top: -1px; }
    #fade-menu a:hover, #fade-menu li.active>a { background: rgba(0, 0, 0, .3); border-left: 1px solid rgba(255,255,255,.12); }
    #fade-menu ul ul a:hover, #fade-menu li li.active>a { color: #fff; background: #000; border-left: none; }
    #fade-menu ul li a.arrow_down, #fade-menu ul li a.arrow_right { padding-right: 26px; background-image: url(../img/top_nav.gif); background-repeat: no-repeat; }
    #fade-menu ul li a.arrow_down { background-position: right 16px }
    #fade-menu ul li a.arrow_right { background-position: right -20px }
    #fade-menu li.active>a.arrow_down { background-image: url(../img/top_nav.gif); background-repeat: no-repeat; background-position: right -44px; }
    #fade-menu li.active>a.arrow_right { background-image: url(../img/top_nav.gif); background-repeat: no-repeat; background-position: right -80px; }
    header { padding: 14px 0 10px; background: #e9e9e9; border-bottom: 1px solid #cfcfcf; -webkit-box-shadow: 0 1px 0 #fff; -moz-box-shadow: 0 1px 0 #fff; -ms-box-shadow: 0 1px 0 #fff; box-shadow: 0 1px 0 #fff; }
    .main-logo a { display: inline-block; line-height: 42px; }
    
/* user-nav  */
    .nav-icons { text-align: center; padding-top: 4px; }
    .nav-icons > ul { height: 36px; display: inline-block; margin: 0; text-align: left; list-style: none; }
    .nav-icons > ul > li, .nav-icons > ul:active > .active { float: left; position: relative; height: 30px; color: #595959}
    .nav-icons > ul > li > a, .nav-icons > ul > li > span { position: relative; border: 1px solid; border-color: #cfcfcf #d6d6d6 #c8c8c8; background: rgba(255, 255, 255, 0.6); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0.25))); background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25)); background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25)); background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25)); background: -o-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25)); background: linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25)); -webkit-box-shadow: inset 0 1px white, inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 2px #dadada, 0 3px #c4c4c4, 0 4px 3px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px white, inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 2px #dadada, 0 3px #c4c4c4, 0 4px 3px rgba(0, 0, 0, 0.1); }
    .nav-icons > ul > li:hover > a { color: #2BA6CB; text-shadow: 0 1px #fff, 0 0 20px #fff; background: inherit; }
    .nav-icons > ul > li.active, .nav-icons > ul > li:active { z-index: 2; margin: 4px 0 0; height: 29px; color: #404040; }
    .nav-icons > ul > li.active > span, .nav-icons ul > li:active > a { border-color: #ccc; border-width: 1px 0; background-color: transparent; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.04)), color-stop(100%, rgba(0, 0, 0, 0))); background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 100%); background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 100%); background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 100%); background: -o-linear-gradient(top, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 100%); background: linear-gradient(top, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 100%); -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.35), inset 0 -1px 1px rgba(0, 0, 0, 0.05), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.4); box-shadow: inset 0 1px rgba(255, 255, 255, 0.35), inset 0 -1px 1px rgba(0, 0, 0, 0.05), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.4); }
    .nav-icons > ul > li:active > a, .nav-icons > ul > li:active > span { z-index: 3 }
    .nav-icons > ul > li.active > span, .nav-icons > ul > li:active > a { line-height: 29px }
    .nav-icons > ul > li:first-child > a, .nav-icons > ul > li:first-child > span { border-left-width: 1px !important; border-left-color: #c6c6c6; border-radius: 5px 0 0 5px; }
    .nav-icons > ul > li:last-child > a, .nav-icons > ul > li:last-child > span { border-right-width: 1px !important; border-right-color: #c6c6c6; border-radius: 0 5px 5px 0; }
    .nav-icons > ul > li + li a, .nav-icons > ul > li + li > span { border-left-width: 0 }
    .nav-icons > ul > .active + li > a, .nav-icons > ul > .active:active + li > a, .nav-icons ul > li:active + li > a, .nav-icons ul > li:active + .active > a, .nav-icons ul > li:active + li > span, .nav-icons ul > li:active + .active > span { border-left-width: 1px }
    .nav-icons > ul > li > a, .nav-icons > ul > li > span { position: relative; display: block; line-height: 30px; padding: 0 18px; font-size: 12px; font-weight: 700; color: inherit; text-decoration: none; outline: none; font-size: 12px; }
    .nav-icons > ul > li .badge { position: absolute; top: -8px; right: -4px; z-index: 100; }
    .user-box { text-align: right }
    .user-box-inner { display: inline-block; text-align: left; }
    .user-box .user-avatar { display: block; float: left; margin-right: 10px; max-width: 40px; position: relative; top: -3px; }
    .user-box .user-info { padding: 0 20px 0 0; display: inline-block; }
    .user-box .user-info ul { margin: 0; line-height: 15px; }
    .user-box .user-info li { display: inline; font-size: 11px; }
    
/* breadcrumbs  */  
    #breadcrumbs { overflow: hidden; width: 100%; list-style: none; margin: 0; padding: 14px 0 8px; }
    #breadcrumbs li { float: left; margin: 0 18px 6px 0; }
    #breadcrumbs li:last-child { margin-right: 0 }
    #breadcrumbs a { background: #eaeaea; background: rgba(0,0,0,.08); display: block; text-decoration: none; color: #555; text-shadow: 0 1px 0 rgba(255,255,255,.5); position: relative; padding: 3px 6px 3px 10px; }
    #breadcrumbs a:hover { background: #368CA9; color: #fff; text-shadow: none; }
    #breadcrumbs a::before { content: ""; position: absolute; top: 50%; margin-top: -13px; left: -14px; border-color: rgba(0,0,0,.08) rgba(0,0,0,.08) rgba(0,0,0,.08) rgba(255,255,255,0); border-style: solid; border-width: 13px 0 13px 14px; }
    #breadcrumbs a:hover::before { border-color: #368CA9 #368CA9 #368CA9 rgba(255,255,255,0) }
    #breadcrumbs a::after { content: ""; position: absolute; top: 50%; margin-top: -13px; border-top: 13px solid rgba(255,255,255,0); border-bottom: 13px solid rgba(255,255,255,0); border-left: 14px solid rgba(0,0,0,.08); right: -14px; }
    #breadcrumbs a:hover::after { border-left-color: #368CA9 }
    #breadcrumbs span { display: block; padding: 4px 10px; color: #444; }
    #breadcrumbs i { opacity: .6; margin-top: 0; }
    #breadcrumbs a:hover i { opacity: .8 }
    
/* main content  */
    .main-wrapper { height: auto !important; min-height: 100%; }
    .footer_space { height: 35px; margin-top: 30px; }
    
/* boxes  */
    .w-box + .w-box { margin-top: 20px }
    .w-box-header { height: 32px; line-height: 32px; padding: 0 10px 1px; background: #a2a2a2; color: #fff; font-size: 13px; }
    .w-box-header .toggle-group { position: relative; height: 21px; line-height: 21px; margin-top: 7px; }
    .w-box-header .dropdown-toggle { background: #000; background: rgba(0,0,0,.2); color: #fff; display: block; cursor: pointer; border: 1px solid #000; border-color: rgba(0,0,0,.3); padding: 0 6px; line-height: 18px; font-size: 11px; -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3); -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.3); -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.3); box-shadow: 0 1px 0 rgba(255,255,255,0.3); -webkit-border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -ms-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px; }
    .w-box-header .dropdown-toggle:hover, .w-box-header .open .dropdown-toggle { background: rgba(0,0,0,.3) }
    .w-box-header .dropdown-toggle .caret { border-top-color: #fff; vertical-align: 2px; }
    .w-box-header .dropdown-menu { font-size: 12px }
    .pull-right .dropdown-menu { left: auto; right: 0; }
    .w-box-header input { padding: 2px 4px; margin: 0; border: none; }
    .w-box-header select { height: 22px; margin: -3px 0 0; padding: 1px 4px; width: auto; border: none; }
    .w-box-header form, .w-box-header .input-append { margin: 0; text-align: right; }
    .w-box-header .input-append { padding: 4px 0 0 0; line-height: 28px; }
    .w-box-header .input-append input { padding: 2px; margin: 1px 0 0; min-height: 24px; }
    .w-box-header .input-append input, .w-box-header .input-append button { border-color: rgba(0,0,0,.4) }
    .w-box-header h4 { display: inline-block; font-size: 11px; font-weight: 700; margin: 0; text-transform: uppercase; }
    .w-box-header .btn-toolbar { margin: 0 }
    .w-box-header .nav-tabs { border: none; margin: 0; position: relative; top: 11px; }
    .w-box-header .nav-tabs li { list-style: none }
    .w-box-header .nav-tabs li a { border: none !important; padding: 5px 8px; color: #fff; }
    .w-box-header .nav-tabs li a:hover { text-decoration: none }
    .w-box-header .nav-tabs li.active a { color: #333 }
    .w-box-content { border-width: 0 1px 1px; border-style: solid; border-color: #ccc; background: #fff; }
    .w-box-content.cnt_a { padding: 10px }
    .w-box-content.cnt_b { padding: 20px }
    .w-box-content.cnt_no_pad .cke_chrome { border:none }
    .w-box-content table { margin-bottom: 0 }
    .w-box-content pre.inside_pre { margin-bottom: 0; -webkit-border-radius: 0 0 0 0; -moz-border-radius: 0 0 0 0; -ms-border-radius: 0 0 0 0; border-radius: 0 0 0 0; border: none; }
    .w-box-content .no-th tr:first-child td { border-top: none }
    .w-box-content table .img-avatar { max-width: 40px }
    .w-box-footer { background: #f9f9f9; padding: 12px 0; border-width: 0 1px 1px; border-style: solid; border-color: #ccc; -webkit-box-shadow: inset 0 1px 0 #fff; -moz-box-shadow: inset 0 1px 0 #fff; -ms-box-shadow: inset 0 1px 0 #fff; box-shadow: inset 0 1px 0 #fff; }
    .w-box-footer .pagination { margin: 0; font-size: 11px; height: 22px; }
    .w-box-footer .input-append { margin: 0 }
    .w-box-footer .pagination a { line-height: 20px }
    .w-box-footer .f-text { margin: 0; padding: 0 12px; font-size: 12px; }
    .w-box-footer .f-center { padding: 0 10px; text-align: center; }
    .w-box-content.content-hide { display: none }
    .w-box .table thead th, .w-box .table tfoot th { background-color: #f0f3f5 !important }
    .w-box .table .sorting_desc, .w-box .table .sorting_asc { background-color: #dce3e7 !important }
    .w-box .table-vam td, .w-box .table-vam th { vertical-align: middle }
    .w-box-blue .w-box-header { background: #208bbd }
    .w-box-blue .table thead th, .w-box-blue .table tfoot th { background-color: #ebf2f6 !important }
    .w-box-blue .table .sorting_desc, .w-box-blue .table .sorting_asc { background-color: #d4e3eb !important }
    .w-box-orange .w-box-header { background: #dd8500 }
    .w-box-orange .table thead th, .w-box-orange .table tfoot th { background-color: #fff8ee !important }
    .w-box-orange .table .sorting_desc, .w-box-orange .table .sorting_asc { background-color: #ffebcc !important }
    .w-box-green .w-box-header { background: #749a00 }
    .w-box-green .table thead th, .w-box-green .table tfoot th { background-color: #eff7ec !important }
    .w-box-green .table .sorting_desc, .w-box-green .table .sorting_asc { background-color: #dbedd4 !important }
    .w-box-header .label { background: #fff; color: #555; text-shadow: none; }
    .w-box-header .icon-minus, .w-box-header .icon-plus { cursor: pointer }
    .w-box-header [class*="icsw16-"], .w-box-header [class*="splashy-"] { margin-top: 9px }
    .l-box { background: #fff }

/* other elements*/
    .sepH_a { margin-bottom: 6px }
    .sepH_b { margin-bottom: 12px }
    .sepH_c { margin-bottom: 18px }
    .sepV_a { margin-right: 6px }
    .sepV_b { margin-right: 12px }
    .sepV_c { margin-right: 18px }
    .heading_a { border-bottom: 1px solid #ddd; line-height: 24px; height: 24px; font-size: 18px; font-family: 'Open Sans Condensed',sans-serif; margin-bottom: 16px; padding: 0 0 4px; }
    .row-fluid + .heading_a { margin-top: 20px }
    .heading_a + .formSep { margin-top: -8px }
    .close-box { font-size: 20px; color: #fff; cursor: pointer; font-weight: 700; }
    .table input.span12 { width: 100%; margin-bottom: 0; }
    
    .img-avatar { padding: 2px; background: #fafafa; border: 1px solid #ddd; -webkit-border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -ms-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px; }
    .toolbar { border-width: 1px 0; border-style: dashed; border-color: #ddd; margin-bottom: 10px; padding: 4px 0; }
    .toolbar-icons a { display: block; padding: 2px 4px; background: #777; margin-right: 4px; float: left; }
    .toolbar .toolbar_text { font-size: 12px; line-height: 24px; padding: 0 5px; }
    .table-list { vertical-align: top }
    .table-list p { margin: 0 }
    .table-list .list-image { width: 1%; vertical-align: middle; }
    .table-list .list-image a { display: block }
    .table-list span.minor { color: #888; font-size: 11px; }
    .table-list .list-text { line-height: 1.2; font-weight: normal; display: block; }
    .table-list tr td { border-top: none }
    .table-list tr + tr td { border-top: 1px solid #ddd }
    .table-list td + td { border-left: 1px solid #ddd }
    .sidebar { position: relative }
    #pageNav { margin: 0; padding: 0; width: 100%; }
    #pageNav li { margin: 0; padding: 0; list-style: none; }
    #pageNav a { position: relative; display: block; font-size: 11px; color: #333; padding: 6px 8px; background: #888; background: rgba(0,0,0,.08); border-bottom: 1px solid #efefef; border-bottom: 1px solid rgba(255,255,255,.4); }
    #pageNav a:hover, #pageNav .current a { text-decoration: none; background: #777; background: rgba(0,0,0,.2); border-bottom: 1px solid #eee; border-bottom: 1px solid rgba(255,255,255,.6); }
    #pageNav li:last-child a { border: none }
    #pageNav li.current a:after { left: 100%; border: solid transparent; content: ""; height: 0; width: 0; position: absolute; pointer-events: none; }
    #pageNav li.current a:after { border-color: rgba(136, 183, 213, 0); border-left-color: rgba(0,0,0,.2); border-width: 16px; top: 50%; margin-top: -16px; }
    
    .wmk_grid ul li>a .zoomOverlay, .wmk_grid ul li, .w-box-header .dropdown-toggle { -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
    .close_edit_box { cursor: pointer }
    #edit_image_table td { vertical-align: middle }
    #edit_image_table input, #edit_image_table select { margin: 0 }
    #powerTip strong, #powerTip span { display: block }
    #flotTip { font-size: 11px; padding: 2px 6px; background-color: #000; z-index: 100; color: #fff; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

    input.cke_dialog_ui_input_text, input.cke_dialog_ui_input_password, textarea.cke_dialog_ui_input_textarea { min-height: 26px }

    .req:after { content: " *"; color: #ff0000; }

/* ul list styles  */
    .list_a, .list_b, .list_c, .list_d { margin-left: 0; list-style: none; }
    .list_a li, .list_b li, .list_c li, .list_d li { background-position: 9px 6px; padding-left: 25px; background-repeat: no-repeat; }
    .list_a li { background-image: url(../img/bullet_a.gif) }
    .list_b li { background-image: url(../img/bullet_b.gif) }
    .list_c li { background-image: url(../img/bullet_c.gif) }
    .list_d li { background-image: url(../img/bullet_d.gif) }
    
/* todo list  */
    .todo-list { padding: 5px }
    .todo-list h4 { font-size: 11px; line-height: 24px; padding: 2px 10px; background: #f6f6f6; margin: 5px 5px 8px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; border-radius: 10px; }
    .todo-list ul { margin: 8px 14px 14px; min-height: 20px; }
    .todo-list li { list-style: none; padding: 4px 8px; margin: 0 2px; position: relative; background: #fff; cursor: move; }
    .todo-list li + li { border-top: 1px solid #efefef }
    .todo-list li::before { content: ""; position: absolute; top: 10%; margin-left: -8px; width: 3px; height: 80%; background: none; }
    .todo-list li.high-pr::before { background: #C60F13 }
    .todo-list li.medium-pr::before { background: #f2aa00 }
    .todo-list li.low-pr::before { background: #5DA423 }
    .todo-list li.completed { color: #888; text-decoration: line-through; }
    .todo-list li input { vertical-align: -2px; margin: 0 4px; }
    .todo-list li.ui-sortable-helper { border-top-color: transparent }
    .todo-list .add_box { padding: 5px; text-align: center; }
    .todo-list .add_box input { min-height: 26px; padding-bottom: 3px; }
    
/* chat messages  */
    .ch-messages { max-height: 400px; overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch; }
    .ch-message-item { padding: 8px; background: #fbfbfb; background: -moz-linear-gradient(top,  #fbfbfb 0%, #f3f3f3 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f3f3f3)); background: -webkit-linear-gradient(top,  #fbfbfb 0%,#f3f3f3 100%); background: -o-linear-gradient(top,  #fbfbfb 0%,#f3f3f3 100%); background: -ms-linear-gradient(top,  #fbfbfb 0%,#f3f3f3 100%); background: linear-gradient(to bottom,  #fbfbfb 0%,#f3f3f3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f3f3f3',GradientType=0 ); }
    .ch-message-item + .ch-message-item { border-top: 1px solid #fff; -webkit-box-shadow: 0 -1px 0 #e6e6e6; -moz-box-shadow: 0 -1px 0 #e6e6e6; -ms-box-shadow: 0 -1px 0 #e6e6e6; box-shadow: 0 -1px 0 #e6e6e6; }
    .ch-message-item .ch-image { float: left; max-width: 40px; margin-right: 10px; }
    .ch-message-item .ch-content { padding: 0 5px 0 0; line-height: 1.4; overflow: hidden; }
    .ch-message-item .ch-name { font-size: 11px; color: #888; margin: 0; overflow: hidden; }
    .ch-message-item .ch-name .ch-time { float: right }
    .ch-message-add { margin: 0 }
    .ch-message-add .input-append { text-align: center }
    
/* carousel */
    .slidewrap .slidecontrols { margin: 0 }
    .slidewrap ul li { list-style: none }
    
/* pagination  */
    .pagination { height: 22px }
    .pagination ul { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none; }
    .pagination ul > li > a, .pagination ul > li:first-child > a, .pagination ul > li:last-child > a { font-size: 11px; padding: 0 6px; line-height: 20px; border: 1px solid #d1d1d1; margin-right: 4px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
    .pagination ul > li > a { background: #fff; color: #333; }
    .pagination ul > li > a:hover, .nav-beoro li:hover { border-color: #c1c1c1; background: #f1f1f1; text-shadow: 0 1px 0 #fff; }
    .pagination ul > li.disabled > a { background: #fff !important; color: #888 !important; border: 1px solid #e1e1e1 !important; }
    .pagination ul > li.active > a, .nav-beoro li.active { background: #368ca9; border: 1px solid #368ca9; color: #fff; text-shadow: none; }
    .nav-beoro { list-style-type: none; text-align: center; height: 22px; margin: 0 0 12px; }
    .nav-beoro li { padding: 0 6px; font-size: 11px; float: left; cursor: pointer; margin: 0 4px 0 0; line-height: 20px; border: 1px solid #e1e1e1; background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
    .nav-beoro li:last-child { margin: 0 }

/* charts */
    .legend .legendLabel { padding-right: 10px }
    .chart_a { height: 200px; width: 100%; }
    .chart_b { height: 300px; width: 100%; }
    .axisLabel { position: absolute; text-align: center; font-size: 11px; color: #666; }
    .xaxisLabel { bottom: 3px; left: 0; right: 0; }
    .yaxisLabel { top: 50%; left: 2px; transform: rotate(-90deg); -o-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform-origin: 0 0; -o-transform-origin: 0 0; -ms-transform-origin: 0 0; -moz-transform-origin: 0 0; -webkit-transform-origin: 0 0; }

/* contact list  */
    .jQ-list { height: 420px; position: relative; overflow: hidden; }
    .jQ-list > ul { height: 100%; overflow: auto; list-style: none; }
    .jQ-list ul { margin: 0; padding: 0; }
    .jQ-list li { list-style: none; display: block; clear: both; }
    .jQ-list > ul > li li { list-style: none; display: block; clear: both; padding: 4px 8px; border-top: 1px solid #f3f3f3; margin: 0; font-size: 12px; overflow: hidden; }
    .jQ-list > ul > li li:first-child { border-top: none }
    .jQ-list > ul > li h4 { padding: 6px 10px; background: #f3f3f3; border-top: 1px solid #e2e2e2; border-bottom: 1px solid #e2e2e2; font-size: 12px; margin: 0; }
    .jQ-list > ul > li h4 span { font-weight: normal }
    .jQ-list > ul > li.sticky_header h4 { position: absolute; top: 0; z-index: 10; }
    .jQ-list ul img { margin-right: 10px; display: block; float: left; }
    .jQ-list .list-username { margin: 0; font-size: 13px; display: block; padding: 4px 0 0; color: #555; }
    .jQ-list .list-info { font-size: 11px; display: block; color: #777; }
    .jQ-list .list-info span { font-weight: 700 }
    .jQ-list ul img + .list-username,.jQ-list ul img + .list-username + .list-info,.jQ-list ul img + .list-info {padding-left:60px}
    .jQ-list-scroll { height: 728px }
    
    .jQ-list-scroll #list_buttons { position: absolute; height: 100%; left: 0; top: 0; background: #f2f2f2; width: 30px; z-index: 100; border-right: 1px solid #e2e2e2; }
    .jQ-list-scroll #list_buttons span { display: block; padding: 4px 0; text-align: center; cursor: pointer; font-size: 12px; }
    .jQ-list-scroll #list_buttons span:hover { background: #e2e2e2 }
    .jQ-list-scroll #list_buttons + ul { margin-left: 31px }
    
/* gallery grid  */
    .wmk_grid { margin-left: -5px; overflow: hidden; }
    .wmk_grid ul { list-style: none; margin: 0; position: relative; }
    .wmk_grid ul li { background-color: #fff; display: none; border: 1px solid #ddd; z-index: 20; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
    .wmk_grid ul li>a, .wmk_grid ul li>a img { display: block }
    .wmk_grid ul li>a { position: relative }
    .wmk_grid ul li>a img { width: 100% }
    .wmk_grid ul li>a .zoomOverlay { width: 100%; height: 100%; background: rgba(0,0,0,.4) url(../img/Magnifying-Glass.png) no-repeat center center; position: absolute; left: 0; top: 0; opacity: 0; display: block; }
    .wmk_grid ul li>a:hover .zoomOverlay { opacity: .9 }
    .wmk_grid .img_holder { position: relative; display: block; }
    .wmk_grid .checkImage { width: 31px; height: 31px; position: absolute; top: -4px; right: -4px; background: url(../img/img_check.png) no-repeat 0 0; cursor: pointer; }
    .wmk_grid .img_actions a { display: inline-block; margin-right: 5px; opacity: .6; }
    .wmk_grid .img_actions a:hover { opacity: 1 }
    .wmk_grid li.checked_item .checkImage { background: url(../img/img_check.png) no-repeat 0 -31px }
    .wmk_grid ul li.checked_item { border: 1px solid #4ec143 }
    .wmk_grid li.inactive { opacity: 0; z-index: 10; }
    
    /* small gallery grid  */
        #small_grid ul li { width: 120px; padding: 4px; }
        #small_grid ul li:hover { background: #ececec }
        #small_grid ul li + li { margin-left: -1px }
        #small_grid ul li p { padding: 6px 4px 0; font-size: 11px; margin: 0; line-height: 14px; }
    /* small gallery grid  */
        #large_grid ul li { width: 200px; padding: 4px; }
        #large_grid ul li .imgTitle { background: rgba(0,0,0,.5); color: #fff; text-decoration: none; position: absolute; bottom: 0; left: 0; height: 24px; line-height: 24px; font-size: 11px; display: block; width: 96%; padding: 0 2%; overflow: hidden; }
        #large_grid ul li:hover { background: #ececec }
        #large_grid ul li + li { margin-left: -1px }
        #large_grid ul li p { padding: 6px 4px 0; font-size: 11px; margin: 0; line-height: 14px; }

/* analytics  */
    .anlt_box { border: 1px solid #ddd; -webkit-border-radius: 4px; border-radius: 4px; }
    .anlt_heading { overflow: hidden; font-size: 11px; font-weight: 700; text-shadow: 0 1px 0 #fff; padding: 2px 8px; margin: 0; border-bottom: 1px solid #fff; background: #e5e5e5; background: -moz-linear-gradient(top, #f8f8f8 0%, #e5e5e5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e5e5e5)); background: -webkit-linear-gradient(top, #f8f8f8 0%,#e5e5e5 100%); background: -o-linear-gradient(top, #f8f8f8 0%,#e5e5e5 100%); background: linear-gradient(to bottom, #f8f8f8 0%,#e5e5e5 100%); -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; -webkit-box-shadow: inset 0 -1px 0 #ccc; box-shadow: inset 0 -1px 0 #ccc; }
    .anlt_content { background: #fafafa; font-size: 24px; line-height: 24px; text-align: center; margin: 0; padding: 12px 10px; font-family: 'Open Sans Condensed', sans-serif; font-weight: 300; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }
    .anlt_heading span { float: right; font-size: 13px; }
    .anlt_heading span.up { color: #5DA423 }
    .anlt_heading span.down { color: #C60F13 }

/* form elements  */
    /* animated progresbars  */
        .pbar .ui-progressbar-value { display: block !important; position: relative; }
        .percent, .elapsed { position: relative; text-align: right; font-size: 10px; height: 16px; line-height: 16px; }
        .pbar .ui-progressbar-value .pb-label { font-weight: normal; position: absolute; left: 0; width: 100%; line-height: 12px; color: #333; text-align: center; font-size: 10px; text-shadow: 0 1px 0 rgba(255,255,255,.3); }
    /* file upload widgets  */
        .btn-file { position: relative; overflow: hidden; vertical-align: middle; }
        .btn-file > input { position: absolute; top: 0; right: 0; margin: 0; cursor: pointer; border: solid transparent; border-width: 0 0 100px 200px; opacity: 0; filter: alpha(opacity=0); -moz-transform: translate(-300px, 0) scale(4); direction: ltr; }
        .fileupload { margin-bottom: 9px }
        .fileupload .uneditable-input { display: inline-block; margin-bottom: 0; vertical-align: middle; cursor: text; line-height: 20px; min-height: 20px; }
        .fileupload .thumbnail { display: inline-block; margin-bottom: 5px; overflow: hidden; text-align: center; vertical-align: middle; }
        .fileupload .thumbnail > img { display: inline-block; max-height: 100%; vertical-align: middle; }
        .fileupload .btn { vertical-align: middle }
        .fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists { display: none }
        .fileupload-inline .fileupload-controls { display: inline }
        .fileupload-new .input-append .btn-file { -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }
        .thumbnail-borderless .thumbnail { padding: 0; border: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
        .fileupload-new.thumbnail-borderless .thumbnail { border: 1px solid #ddd }
        .fileupload-preview + .close { vertical-align: middle }
    /* rowlink  */
        tr.rowlink td { cursor: pointer }
        tr.rowlink td.nolink { cursor: auto }
        .table tbody tr.rowlink:hover td { background-color: #efefef; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none; }
        a.rowlink { font: inherit; color: inherit; text-decoration: inherit; }
        .formSep { padding: 10px 20px; clear: both }
        .formSep + .formSep { border-top: 1px dashed #ddd }
    /* password strength meter  */
        #pwdMeter { position: relative }
        #pwdMeter .pwdText { position: absolute; top: 0; left: 0; height: 20px; line-height: 20px; width: 100%; text-align: center; font-size: 11px; text-transform: uppercase; font-weight: 700; }

/* file manager  */
    .kc-outer, #kcfinder_iframe { height: 400px }

/* Google Maps */
    .gmap { display: block; width: 100%; height: 350px; overflow: hidden; }
    .gmap.large { height: 500px }
    .gmap img { width: auto; max-width: none; }
    .infoWindow_content { max-width: 200px; font-size: 12px; }
    .infoWindow_content p { margin: 0; line-height: 1.2; }

/* bootbox notifications  */
    .bootbox form { padding-top: 9px; margin: 0; }
    .bootbox p { margin: 0; font-size: 14px; }

/* icon list  */
    .ico-list { margin: 0; padding: 0; overflow: hidden; list-style: none; }
    .ico-list + .ico-list { margin-top: 20px }
    .ico-list li { float: left; margin: 3px; border: 1px solid #ddd; width: 16px; height: 16px; line-height: 16px; text-align: center; padding: 4px; list-style: none; }
    .ico-list-dark li { background: #888; border-color: #888; }
    
/* google-code-prettify  */
    .com { color: #93a1a1 }
    .lit { color: #195f91 }
    .pun, .opn, .clo { color: #93a1a1 }
    .fun { color: #dc322f }
    .str, .atv { color: #D14 }
    .kwd, .prettyprint .tag { color: #1e347b }
    .typ, .atn, .dec, .var { color: teal }
    .pln { color: #48484c }
    .prettyprint { padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; }
    .prettyprint.linenums { -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0; -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0; box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0; }
    ol.linenums { margin: 0 0 0 33px; /* IE indents via margin-left */ }
    ol.linenums li { padding-left: 12px; color: #bebec5; line-height: 20px; text-shadow: 0 1px 0 #fff; }
    
/* blog  */
    .blog_page { background: #fff }
    .blog_content, .blog_sidebar { padding: 10px }
    .blog_content .blog_item + .blog_item { margin-top: 30px }
    .blog_content .blog_item + .pagination { margin-top: 40px }
    .blog_content h1 { font-size: 26px; font-family: "Open Sans Condensed",sans-serif; font-weight: 300; margin-bottom: 10px; }
    .blog_content .media + p { margin-top: 10px }
    .blog_content .toolbar { padding: 4px; margin-bottom: 20px; }

/* faq  */
    #faq_accordion { margin: 0; border-bottom: none; }
    .faq_search_box {padding:10px 10px 0}
    .faq_search_box .faq_count { margin: -6px 6px 6px; position: relative; font-size: 11px; display: block; }
    #faq_noresults { margin: 0; padding: 10px 0; text-align: center; }
    span.highlight { background: #a8d1ff }

/* mailbox  */
    .mbox .select_msg { margin-top: -2px; position: relative; }
    .mbox .rowChecked td { background: #fffeed !important }
    .mailbox .unread { font-weight: 700 }
    .mbox_star { visibility: hidden; cursor: pointer; }
    .mbox_star.splashy-star_full { visibility: visible }
    .mbox_nav #pageNav a { font-size: 13px }
    .mbox_nav #pageNav a .badge { margin-top: 2px }
    .table th input[type="checkbox"] { margin-top: 0 }
    .table td input[type="checkbox"] { margin-top: -1px }
    .mbox_toolbar a { float: left; margin-right: 10px; display: block; padding: 6px 4px 4px; color: #333; text-align: center; background: #fff; font-size: 11px; min-width: 70px; border: 1px solid #ddd; -webkit-border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -ms-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px; }
    .mbox_toolbar a span { display: block; padding: 4px 0 0; }
    .mbox_toolbar a i { opacity: .8 }
    .mbox_toolbar a:hover { text-decoration: none }

/* user profile  */
    .user_profile .formSep { margin: 0 }
    .user_profile .img-holder { max-width: 80px }
    .user_profile .img-holder img { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* invoices  */
    td.inv_clone_row { vertical-align: middle }
    td.inv_clone_row i { cursor: pointer }
    .invE_table td:last-child,.invE_table th:last-child {text-align:right}
    .invE_table .last_row p { text-align: right; margin-bottom: 4px; }
    .invoice_preview h1 span { font-family: "Open Sans Condensed",sans-serif; border-bottom: 2px solid #efefef; margin-bottom: 10px; display: inline-block; padding: 0 0 4px; }
    .invoice_preview .inv_notes { position: relative; border: 1px solid #ddd; -webkit-border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -ms-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px; padding: 14px 10px 10px; }
    .invoice_preview .inv_notes .label { position: absolute; top: -10px; left: 10px; }
 
/* table stacking */ 
    .st-head-row { padding-top:4px;padding-bottom:4px;background:#f4f4f4}
    .st-head-row-main {padding:0;background:none}
    .stacktable { width: 100%; }
    .stacktable tr:empty {height:10px}
    .st-key { width: 49%; text-align: right; padding-right: 1%; }
    .st-val { width: 49%; padding-left: 1%; }
    .stacktable.large-only { display: table; }
    .small-only { display: none;}

    @media (max-width: 800px) {
        .large-only { display: none; }
        .stacktable.small-only { display: table; }
    }
    
/* footer */    
    footer { line-height: 28px; height: 30px; background: #E9E9E9; font-size: 12px; padding: 4px 8px 0; margin-top: -35px; border-top: 1px solid #f7f7f7; -webkit-box-shadow: 0 -1px 0 #ddd; -moz-box-shadow: 0 -1px 0 #ddd; -ms-box-shadow: 0 -1px 0 #ddd; box-shadow: 0 -1px 0 #ddd; }
    footer ul { margin: 0 }
    footer li { list-style: none; display: inline-block; margin: 0 2px; }
    
/* scroll to top  */
    .scrollup { position: fixed; right: 6px; bottom: 6px; background: rgba(0,0,0,.6); line-height: 1; padding: 3px 4px 5px 5px; -webkit-border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -ms-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px; display: block; }
    
/* background switch  */
    .bg_switch { position: fixed; left: 4px; top: 30%; padding: 0 4px; background: #fff; background: rgba(0,0,0,.3); -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; }
    .bg_switch a { display: block; width: 14px; height: 14px; margin: 4px 0; }
    .bg_a { background: url(../img/patterns/bg_a.png) repeat 0 0 }
    .bg_b { background: url(../img/patterns/bg_b.png) repeat 0 0 }
    .bg_c { background: url(../img/patterns/bg_c.png) repeat 0 0 }
    .bg_d { background: url(../img/patterns/bg_d.png) repeat 0 0 }
    .bg_e { background: url(../img/patterns/bg_e.png) repeat 0 0 }
    .bg_f { background: url(../img/patterns/bg_f.png) repeat 0 0 }
    .bg_none { background: url(../img/patterns/bg_none.png) repeat 0 0 }
    
/* ===[ media queries ]=== */
    
    /* ===[ Landscape phones and down ]=== */
        @media (max-width: 479px) { 
            .nav-icons ul > li > a, .nav-icons ul > li > span { padding: 0 12px }
            .navbar .top-search input { width: 100px }
            .selectnav { width: 140px }
        }
        
    /* ===[ Landscape phone to portrait tablet ]=== */
        @media (max-width: 767px) { 
            .row-fluid [class*="offset"] { margin-left: 0 !important }
            .navbar-fixed-top { margin-bottom: 0 }
            header { margin-left: -20px; margin-right: -20px; padding: 10px; }
            .main-logo, .user-box { text-align: center }
            .main-logo { margin-bottom: 20px }
            .user-box .user-info { padding-right: 0 }
            #nav-icons { padding-bottom: 12px }
            div[class*="span"] + div[class*="span"] { margin-top: 20px }
            footer div[class*="span"] + div[class*="span"] { margin-top: 0 }
            .user_profile .img-holder { max-width: 100%; text-align: center; }
            #pageNav li.current a:after {display:none}
        }
        
    /* ===[ Portrait tablet to landscape and desktop ]=== */
        @media (min-width: 768px) and (max-width: 979px) { 
            .nav-icons ul > li > a, .nav-icons ul > li > span { padding: 0 12px }
        }
        
    /* ===[ Phones, tablets and desktop ]=== */
        @media (max-width: 979px) { 
            body { padding-top: 0 }
            .navbar-fixed-top { margin-bottom: 0 }
            .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner { padding: 0 }
            #fade-menu ul { display: none }
            .selectnav { display: block; padding: 2px 3px; border: 1px solid #222; background: rgba(0,0,0,.2); color: #fff; height: 26px; line-height: 20px; margin: 3px 0 0 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; -webkit-appearance: none; cursor: pointer; }
            .selectnav option { background: #fff; color: #333; }
            .top-right, .top-left, .top-center { top: -1px; z-index: 1000; }
            .blog_content .media > a { float:none;margin-bottom:10px;display:block;margin-left:0 }
        }
        
    /* ===[ Large desktop ]=== */
        @media (min-width: 1200px) { 
            
        }